.container {
    padding-top: 115px;
    
}

.movieDetails {
    display: flex;
    width: 768px;
    margin: 0 auto;
    gap: 20px;
    padding: 15px;
    background-color: #a0785a;
    color: #fff;
    box-shadow: rgb(238, 173, 113) 0px 0px 0px 0px,
                rgb(20, 20, 20) 0px 10px 27px -8px inset,
                rgb(238, 173, 113) 0px -10px 27px -8px inset,
                rgba(181, 181, 181, 0) 5px 5px 15px 5px,
                0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
    border-radius: 10px;
}

img {
    display: block;
    max-width: 340px;
    height: 510px;
    border-radius: 5px;
}

.boxInfo {
    padding: 10px;
}

.movieTitle {
     margin: 0;
     text-shadow: 0 0 3px #cc00ff;
}

.rating {
    font-weight: 700;
    color: #f2f3f4;
}

.voteRating {
    font-weight: 400;
    margin-left: 10px;
    color: #dcdcdc;
}

.genreContainer {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 45px;
}

.genreTag {
    margin: 0;
    color: #f2f3f4;
}
.genreName {
    margin: 0;
    color: #dcdcdc;
}

.overviewTag {
    color: #f2f3f4;
}

.movieOverview {
    text-align: justify;
    color: #dcdcdc;
}

.addInfoTitle {
    margin: 0;
}

.returnBtn {
    width: 130px;
    height: 40px;
    color: #4c516d;
    background-color: #eae0c8;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    border-radius: 6px; 
    margin-top: 7px;
    box-shadow: inset 2px 2px 10px rgba(255,255,255,.1), inset -5px -8px 8px rgba(0,0,0,.2);
    cursor: pointer;
    margin-left: 20px;
    border: none;
}

.returnBtn:hover {
    background-color: #ff8c00;
    color: white;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out; 
}

.boxAddInfo {
    display: flex;
}

.castLink {
    text-decoration: none;
    display: block;
    width: 130px;
    height: 20px;
    color: #4c516d;
    background-color: #eae0c8;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 6px; 
    margin-top: 7px;
    box-shadow: inset 2px 2px 10px rgba(255,255,255,.1), inset -5px -8px 8px rgba(0,0,0,.2);
    cursor: pointer;
    margin-left: 20px;
    border: none;
    
}

.castLink:hover {
    background-color: #ff8c00;
    color: white;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out; 
}

.reviewLink {
    text-decoration: none;
    display: block;
    width: 130px;
    height: 20px;
    color: #4c516d;
    background-color: #eae0c8;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    border-radius: 6px; 
    margin-top: 7px;
    box-shadow: inset 2px 2px 10px rgba(255,255,255,.1), inset -5px -8px 8px rgba(0,0,0,.2);
    cursor: pointer;
    margin-left: 20px;
    border: none;
}

.reviewLink:hover {
    background-color: #ff8c00;
    color: white;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out; 
}