.reviewsInfo {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    color: #0d253f;
    padding: 20px;
}

.reviewsAuthor {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 25px;
    color: #555555;
}

.reviewList {
    max-width: 768px;
    margin: 0 auto;
    text-align: justify;
    color: #8b8589;
}