.homeTitle {
    text-align: center;
    color: #321414;
    font-size: 35px;
}

.homeList {
    /* position: relative; */
    list-style: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
   
    
}

/* .homeList:hover {
     backdrop-filter: blur(5px);
} */

.link {
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.45);
    width: 100%;
    max-width: 240px;
    margin: 0.5em;
   
}

.img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: box-shadow 0.2s ease 0s;
    /* filter: blur(4px); */
}  

.img:hover {
  /* -ms-transform: scale(1.2);  */
  /* -webkit-transform: scale(1.2);  */
  /* transform: scale(1.2);  */
  /* box-shadow: #f1c40f 0 60px 80px ; */
  box-shadow: 0 60px 80px #9efd38, 0 45px 26px #9efd38;
  border-radius: 10px;
}