.moviesList {
    list-style: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    max-width: 100%;
    /* padding: 60px 80px;    */
}

.list {
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.45);
    flex-basis: calc((100% - 90px) / 4);
    margin: 0.5em;
}

.list:hover {
    box-shadow: #9efd38 0px 0px 8px 6px, 0 60px 80px #9efd38;
    border-radius: 10px;
}

.link {
    text-decoration: none;
}

.img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}  

.movieName {
    font-size: 13px;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #665d1e;
}



/* .moviesList {
   border-radius: 10px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.45);
    flex-basis: calc((100% - 90px) / 4);
    margin: 20px;
    text-decoration: none;
}

.moviesList:hover {
    box-shadow: #9efd38 0px 0px 8px 6px, 0 60px 80px #9efd38;
    border-radius: 10px;
}


.link {
    text-decoration: none;
}

.img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}  

.movieName {
    font-size: 13px;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #665d1e;
} */