.castList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.castLink {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
    border-radius: 10px;
}

.castImg {
    width: 100%;
}

.castInfo {
    padding: 10px;
}

.actorRealName {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    color: black;
    -webkit-text-fill-color: #98777b; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.characterName {
    font-weight: 700;
    color: #848482;
}